<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.community.mapper.CommunitySqlMapper">

	<!-- 커뮤니티 최신 게시글 -->
	<select id="selectNewPostByCommunity" resultType="com.ja.safari.dto.CommunityPostDto">
	SELECT 
	   ROWNUM,
	   board,
	   id,
	   title,
	   reg_date
	FROM
	   (SELECT *
	   FROM (
	       SELECT '리워드리뷰' AS board, id, promotion_review_title AS title, reg_date
	       FROM promotion_review
	       UNION ALL
	       SELECT '골라줘요' AS board, id, title, reg_date
	       FROM pick_table  
	       UNION ALL
	       SELECT '구인구직' AS board, id, title, reg_date
	       FROM recruit_table
	       UNION ALL
	       SELECT '해주세요' AS board, id, title, reg_date
	       FROM help_table
	         UNION ALL
		    SELECT '궁금해요' AS board, id, title, reg_date
		    FROM question_table
	   )
	   ORDER BY reg_date DESC) ct
	   <![CDATA[
		WHERE ROWNUM < 6
		]]>
	</select>
	

	
	<!--  커뮤니티 인기 게시글 -->
	<select id="selectBestPostByCommunity" resultType="com.ja.safari.dto.CommunityPostDto">
	SELECT
	ROWNUM,
	all_likes.board,
	all_likes.id,
	all_likes.title,
	all_likes.likecount,
	reg_date
	FROM (
	    SELECT '리워드리뷰' AS board, COUNT(prl.id) AS likecount, pr.id, pr.promotion_review_title AS title, pr.reg_date
	    FROM promotion_review pr
	    JOIN PROMOTION_REVIEW_LIKE prl ON pr.id = prl.review_id
	    GROUP BY pr.id, pr.promotion_review_title, pr.reg_date
	    UNION ALL
	    SELECT '구인구직' AS board, count(rlt.id) AS likecount, rt.id, rt.title, rt.reg_date
	    FROM RECRUIT_TABLE rt
	    JOIN RECRUIT_LIKE_TABLE rlt ON rt.id = rlt.recruit_id
	    GROUP BY rt.id, rt.title, rt.reg_date
	    UNION ALL
	    SELECT '골라줘요' AS board, count(plt.id) AS likecount, pt.id, pt.title, pt.reg_date
	    FROM PICK_TABLE pt
	    JOIN PICK_LIKE_TABLE plt ON pt.id = plt.pick_id
	    GROUP BY pt.id, pt.title, pt.reg_date
	    UNION ALL
	    SELECT '해주세요' AS board, count(hlt.id) AS likecount, ht.id, ht.title, ht.reg_date
	    FROM HELP_TABLE ht
	    JOIN HELP_LIKE_TABLE hlt ON ht.id = hlt.help_id
	    GROUP BY ht.id, ht.title, ht.reg_date
	    UNION ALL
	    SELECT '궁금해요' AS board, count(qlt.id) AS likecount, qt.id, qt.title, qt.reg_date
	    FROM QUESTION_TABLE qt
	    JOIN QUESTION_LIKE_TABLE qlt ON qt.id = qlt.question_id
	    GROUP BY qt.id, qt.title, qt.reg_date
		) all_likes
	<![CDATA[
	WHERE ROWNUM < 6
	]]>
	ORDER BY likeCount DESC
	</select>
	
	
	

	
	<select id="createPk" resultType="int">
		select help_table_seq.nextval from dual
	</select>
	
	<select id="selectUserByUserId" resultType="com.ja.safari.dto.UserDto">
	select * from user_table where id=#{id}
	</select>
	
	<select id="getHelpCommentById" resultType="com.ja.safari.dto.HelpCommentDto">
	select * from help_comment_table where id=#{id}
	</select>
	
	<insert id="registerHelpBoard">
	insert into help_table values(
    #{id},
    #{user_id},
    #{title},
    #{content},
    0,
    #{points},
    '진행중',
    #{location},
    sysdate
	)
	</insert>
	
	<select id="getHelpBoard" resultType="com.ja.safari.dto.HelpDto">
		select * from help_table where id=#{id}
	</select>
	
	<select id="selectAllHelpBoards" resultType="com.ja.safari.dto.HelpDto">
		select ht2.* from(
    		select ht1.*, rownum rnum from(
        		select ht.* from help_table ht
        		order by id desc
        	) ht1
     	)ht2
     	<![CDATA[ 
		where ht2.rnum >= ((#{helpPage}-1)*10)+1 and ht2.rnum <= #{helpPage}*10
		]]>
	</select>
	
	 <select id="getHelpBoardCount" resultType="int">
		select count(*) from help_table
	</select>
	
	
	
	<update id="updateHelpBoard">
	update help_table
		set 
	  		title= #{title} , content= #{content} , points= #{points} , location=#{location} 
		where 
	  		id=#{id}
	</update>
	
    
  <delete id="deleteHelpBoard">
  	delete from help_table where id=#{id}
  </delete>
  
  <update id="increaseHelpReadCount">
  	update help_table
	set views = views + 1
	where id = #{id}
  </update>
  
  <!-- 해주세요 게시물 댓글 insert -->
  <insert id="registerHelpComment">
  insert into help_comment_table values(
    HELP_COMMENT_TABLE_SEQ.nextval,
    #{user_id},
    #{help_id},
    #{content},
    '채택 대기중',
    sysdate
    )
  </insert>
  
  <!-- 해주세요 게시글 댓글 리스트 조회 -->
  <select id="selectAllHelpComments" resultType="com.ja.safari.dto.HelpCommentDto">
  select * from help_comment_table where help_id=#{help_id} order by id desc
  </select>
  
  
    
  <delete id="deleteHelpComment">
  delete from help_comment_table where id=#{id}
  </delete>
  
  <!--해주세요 게시물 이미지 insert  --> 
  <insert id="insertHelpBoardImage">
	insert into help_img_table values(
	    help_img_table_seq.nextval,
	    #{help_id},
	    #{help_img_link},
	    #{help_original_filename}
    )
  </insert>
  
  <select id="selectHelpBoardImageByHelpId" resultType="com.ja.safari.dto.HelpImgDto">
  	select * from help_img_table
	where help_id = #{helpId}
  </select>
	
	<!-- 해주세요 좋아요 insert -->
	<insert id="insertHelpLike">
	insert into help_like_table values(
	    help_like_table_seq.nextval,
	    #{user_id},
	    #{help_id},
	    sysdate
	)
	</insert>
	
	<!-- 해주세요 좋아요수 count -->
	<select id="getHelpLikeCountByBoardId" resultType="int">
	select count(*) from help_like_table where help_id = #{help_id}
	</select>

	
	<!-- 해주세요 댓글수 보드에 출력 -->
	<select id="selectAllHelpCommentCountByBoardId" resultType="int">
	select count(*) from help_comment_table where help_id=#{help_id}
	</select>

	<!-- 해주세요 좋아요 수 보드에 출력 -->
	<select id="selectAllHelpLikeCountByBoardId" resultType="int">
	select count(*) from help_like_table where help_id=#{help_id}
	</select>

	<!-- 해주세요 이미지 보드에 출력 -->
	<select id="selectAllHelpImgByBoardId" resultType="int">
	select count(*) from help_img_table where help_id=#{help_id}
	</select>
	
	<!-- 해주세요 베스트 게시물 --><!-- 쿼리 쉽게 변경 -->
	<select id="selectBestHelpBoard" resultType="com.ja.safari.dto.HelpDto">
	select t1.* from(
	select ht.*,(select count(*) from help_like_table hlt where hlt.help_id = ht.id)+ ht.views as helplikeAndViewCount
	from help_table ht 
	order by (select count(*) from help_like_table hlt where hlt.help_id = ht.id)*10 + ht.views*0.5 desc
	)t1
	<![CDATA[
	where rownum <=3
	]]> 
	</select>
	
	
	<!-- 해주세요 좋아요 입력/취소 -->
	 <select id="checkHelpLike" resultType="int">
		select count(*) 
		from help_like_table 
		where help_id=#{help_id} and user_id=#{user_id}
	</select>
	
	<delete id="removeHelpLike">
		delete from help_like_table 
		where help_id=#{help_id} and user_id=#{user_id}
	</delete>
	
	<!-- 해주세요 게시물 미션완료(채택) insert -->
	<insert id="acceptHelpComment">
	INSERT INTO help_comment_complete_table VALUES(
        help_comment_complete_seq.nextval,
        #{help_comment_id},
        SYSDATE
        )
	</insert>
	
	<!-- 해주세요 게시물 댓글 채택완료 update -->
	<update id="completeHelpComment">
	update help_comment_table
    	set status='채택 완료'
        	where id=#{id}
	</update>
	
	<!-- 해주세요 게시물 채택 상태 변경 -->
	<update id="changeCompleteHelp">
	update help_table
		set status='채택 완료'
			where id=#{id}
	</update>
	
	<!-- 해주세요 최신 게시글 조회 -->
	<select id="newPostByHelpBoard" resultType="com.ja.safari.dto.HelpDto">
	SELECT *
	FROM help_table
	ORDER BY reg_date DESC
	</select>
	
	<!--              궁금해요                   -->
	
	<!-- 궁금해요 게시물 insert -->
	<insert id="registerQuestionBoard">
	insert into question_table values(
    question_table_seq.nextval,
    #{user_id},
    #{question_category_id},
    #{title},
    #{content},
    0,
    #{points},
    '진행중',
    sysdate
	)
	</insert>
	
	<!-- 궁금해요 게시물 상세보기 select -->
	<select id="getQuestionBoardByBoardId" resultType="com.ja.safari.dto.QuestionDto" >
	select * from question_table where id=#{id}
	</select>
	
	<!-- 궁금해요 게시물 전체 select -->
	<select id="selectAllQuestionBoards" resultType="com.ja.safari.dto.QuestionDto" >
	select * from question_table order by id desc
	</select>
	
	<!-- 궁금해요 게시물 update -->
	<update id="updateQuestionBoard">
	update question_table
	set question_category_id=#{question_category_id}, title= #{title} , content=#{content}  , points= #{points}
	where id=#{id}
	</update>
	<!-- 궁금해요 게시물 delete -->
	<delete id="deleteQuestionBoardByBoardId">
	delete from question_table where id=#{id}
	</delete>
	
	<!-- 궁금해요 게시물 조회수 증가 update  -->
	<update id="increaseQuestionReadCount">
	update question_table
	set views = views + 1
	where id = #{id}
	</update>
	
	<!-- 궁금해요 게시물 답변 insert -->
	<insert id="registerQuestionReply">
	insert into question_reply_table values(
    question_reply_table_seq.nextval,
    #{user_id},
    #{question_id},
    #{content},
    'N',
    sysdate
	)
	</insert>
	
	<!-- 궁금해요 게시물 답변 select -->
	<select id="selectAllQuestionReplyByBoardId" resultType="int">
	select * from question_reply_table where question_id=#{question_id}
	</select>
	
	<!-- 궁금해요 게시물 좋아요 insert -->
	<insert id="insertQuestionLike">
	insert into question_like_table values(
    question_like_table_seq.nextval,
    #{user_id},
    #{question_id},
    sysdate
    )
    </insert>
	
	<!-- 궁금해요 좋아요 수 count -->
	<select id="getQuestionLikeCountByBoardId" resultType="int">
	select count(*) from question_like_table where question_id=#{id}	
	</select>
	
	<!-- 궁금해요 게시물 좋아요 입력/취소 -->
	<select id="checkQuestionLike" resultType="int">
	select count(*)
	from question_like_table
	where question_id=#{question_id} and user_id=#{user_id}
	</select>
	
	<delete id="removeQuestionLike">
	delete from question_like_table
	where question_id=#{question_id} and user_id=#{user_id}
	</delete>
	
	<!-- 구인구직  -->
	
	
	<!-- 구인구직 게시판 PK 조회 -->
	<select id="createRecruitPk" resultType="int">
		SELECT recruit_table_seq.nextval FROM dual 		
	</select>
	
	<!-- 구인구직 게시판 insert -->
	<insert id="registerRecruitBoard">
		INSERT INTO recruit_table VALUES(
		    #{id},
			#{user_id},
			#{position_category_id},
			#{title},
			#{content},
			#{phone},
			#{email},
			#{salary},
			#{location},
			#{opening},
			#{gender},
			#{career},
			0,
			'모집중',
			sysdate,
			sysdate
		)
	</insert>
	
	<!-- 구인구직 게시판 이미지 테이블 insert : image-->
	<insert id="insertRecruitBoardImage">
		insert into recruit_img_link_table values(
			recruit_img_link_table_seq.nextval,
			#{recruit_id},
			#{img_name},
			#{img_link}
		)
	</insert>

	<!-- 구인구직 게시판 이미지 select -->	
	<select id="selectRecruitBoardImageByRecruitId" resultType="com.ja.safari.dto.RecruitImgLinkDto">
		select * from recruit_img_link_table
		where recruit_id = #{recruit_id}
	</select>
	
	<!-- 구인구직 좋아요 insert : like-->
	<insert id="insertRecruitLike">
		insert into recruit_like_table values(
		    RECRUIT_LIKE_TABLE_SEQ.nextval,
		    #{user_id},
		    #{recruit_id},
		    sysdate
		)
	</insert>
	
	<!-- 구인구직 좋아요 delete -->	
	<delete id="deleteRecruitLike">
		delete from recruit_like_table
		where recruit_id = #{recruit_id}
		and user_id = {user_id}
	</delete>
	
	<!-- 구인구직 좋아요 개수 count -->
	<select id="countLikeByRecruitBoardId" resultType="int">
		select count(*) from recruit_like_table
		where recruit_id = #{recruit_id}
	</select>

	<!-- 구인구직 게시판 전체 조회 -->
	<select id="selectAllRecruitBoards" resultType="com.ja.safari.dto.RecruitDto">
	select * 
	from recruit_table 
	order by id desc
	</select>

	<!-- 구인구직 게시판 상세보기 -->
	<select id="selectById" resultType="com.ja.safari.dto.RecruitDto">
		select * 
		from recruit_table 
		where id=#{id}
	</select>
	
	
	
	
	
	
</mapper>