<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.community.mapper.PickSqlMapper">


	<!-- UserDto 어쩌지?..? -->
	<select id="selectUserByUserId" resultType="com.ja.safari.dto.UserDto">
	select * from user_table where id=#{id}
	</select>

	<!--              골라줘요                   -->
	<!-- 골라줘요 게시판 PK 조회 -->
	<select id="createPickPk" resultType="int">
		select pick_table_seq.nextval from dual
	</select>
	
	<!-- 골라줘요 게시판 insert -->
	<insert id="registerPickBoard">
		insert into pick_table values(
		    #{id},
		    #{user_id},
		    #{content},
		    0,
		    sysdate
		)
	</insert>
	
	<!-- 골라줘요 게시판 전체 조회 -->
	<select id="selectAllPickBoards" resultType="com.ja.safari.dto.PickDto">
		select * 
		from pick_table
		order by id desc
	</select>
	
	<!-- 골라줘요 게시판 상세보기 -->
	<select id="getPickBoardByBoardId" resultType="com.ja.safari.dto.PickDto">
		select * from pick_table
		where id=#{id}
	</select>
	
	<!-- 골라줘요 게시판 수정하기 -->
	<update id="updatePickBoard" >
		update pick_table
		set content = #{content}
		where id = #{id}
	</update>
	
	<!-- 골라줘요 게시물 삭제하기 -->
	<delete id="deletePickBoard">
		delete from pick_table where id=#{id}
	</delete>
	
	<!-- 골라줘요 게시물 조회수 올리기 -->
	<update id="increaseViewsPickBoard">
		update pick_table 
		set views = views + 1 
		where id = #{id}
	</update>
	
	<!-- 골라줘요 게시물 댓글 insert -->
	<insert id="registerPickComment">
		insert into pick_comment_table values(
		    PICK_COMMENT_TABLE_SEQ.nextval, 
		    #{user_id}, 
		    #{pick_id}, 
		    #{content},
		    sysdate
		)
	</insert>
	
	<!-- 골라줘요 게시물 ID로 댓글 조회 select -->
	<select id="selectByPickcommentId" resultType="com.ja.safari.dto.PickCommentDto">
		select * from pick_comment_table
		where pick_id = #{pick_id} 
		order by id desc
	</select>
	
	<!-- 골라줘요 댓글 삭제 -->
	<delete id="deleteByPickcommentId">
		delete from pick_comment_table
		where id = #{id}
	</delete>
	
	<!-- 골라줘요 댓글 수정 -->
	<update id="updatePickcomment" >
	update pick_comment_table
	set content = #{content}
	where id = #{id}
	</update>
	
	<!-- 골라줘요 좋아요 insert : like-->
	<insert id="insertPickLike">
		insert into pick_like_table values(
		    PICK_LIKE_TABLE_SEQ.nextval,
		    #{user_id},
		    #{pick_id},
		    sysdate
		)
	</insert>
	
	<!-- 골라줘요 유저ID로 좋아요 여부 체크 -->
	 <select id="checkPickLike" resultType="int">
		select count(*) 
		from pick_like_table 
		where pick_id=#{pick_id} and user_id=#{user_id}
	</select>
	
	<!-- 골라줘요 좋아요 delete -->	
	<delete id="removeLikePickBoard">
		delete from pick_like_table
		where pick_id = #{pick_id}
		and user_id = #{user_id}
	</delete>
	
	<!-- 골라줘요 좋아요 개수 count -->
	<select id="countLikeByPickBoardId" resultType="int">
		select count(*) from pick_like_table
		where pick_id = #{pick_id}
	</select>
	
	<!-- 골라줘요 댓글 count -->
	<select id="countPickCommentByBoardId" resultType="int">
		select count(*) from pick_comment_table 
		where pick_id = #{pick_id}
	</select>
	
	
	<!-- 골라줘요 옵션 -->
	<!-- 골라줘요 게시물에 옵션 insert -->
	<insert id="registerPickOption">
		insert into pick_option_table values(
		    PICK_OPTION_TABLE_SEQ.nextval,
		    #{pick_id}, 
		    #{product_id}
		)
	</insert>

	
	<!-- 골라줘요 : 중고 상품 테이블에서 받아오기. (이름, 가격, 좋아요 수, 이미지) productDto 받아오기-->
	<select id="showAllProduct" resultType="com.ja.safari.dto.PickShowCardDto">
		SELECT p.title, p.price, COUNT(*) likeCount, pimg.product_img_link 
		FROM product p
		LEFT JOIN product_like pLike ON p.id = pLike.product_id
		LEFT JOIN product_img pIMG ON p.id = pIMG.product_id
		GROUP BY p.title, p.price, pimg.product_img_link
	</select>
	
		<!-- 	SELECT p.title, p.price, COUNT(*) likeCount, pimg.product_img_link 
		FROM product p
		JOIN product_like pLike ON p.id = pLike.product_id
		JOIN product_img pIMG ON p.id = pIMG.product_id
		WHERE p.id = #{id}
		GROUP BY p.title, p.price, pimg.product_img_link -->
		
	<!--  골라줘요 최신글 정렬 -->	
	<select id="newPostByPick" resultType="com.ja.safari.dto.PickDto">
		SELECT *
		FROM pick_table
		ORDER BY reg_date DESC
	</select>
	
	
	
	<!-- 강사 코드 -->
	<!-- 글 쓰기용 중고 거래 상품 리스트 뽑기 -->
	<select id="getProductPickOptionList" resultType="com.ja.safari.dto.ProductDto">
		SELECT * FROM product p 
		ORDER BY p.title ASC
	</select>	
	
	<select id="getPickOptionValues" resultType="com.ja.safari.dto.PickOptionValuesForVoteDto">
		SELECT 
		    pot.pick_id as pick_id,
		    pot.id as option_id, 
		    pot.product_id as product_id,
		    p.title as title,
		    p.price as price,
		    (
		        SELECT COUNT(*) 
		        FROM pick_option_vote_table pov 
		        WHERE pot.id = pov.pick_option_id
		    ) as vote_cnt,
		    (
		        SELECT pi.product_img_link FROM product_img pi
		        WHERE pi.product_id = p.id
		        AND ROWNUM = 1
		    ) as img,
		    (
		        SELECT COUNT(*) FROM product_like pl WHERE pl.product_id = p.id
		    ) as product_zzim_count
		FROM pick_option_table pot 
		INNER JOIN product p on p.id = pot.product_id
		WHERE pot.pick_id = #{pick_id}
	</select>
	
	<insert id="insertPickOptionVote">
		INSERT INTO pick_option_vote_table VALUES(
			pick_option_vote_table_seq.nextval,
			#{user_id},
			#{pick_option_id},
			SYSDATE
		)
	</insert>
		
	<delete id="resetVote">
		DELETE FROM pick_option_vote_table povt WHERE povt.user_id = #{user_id} AND povt.pick_option_id IN (
		    SELECT pot.id FROM pick_option_table pot WHERE pot.pick_id = #{pick_id}    
		)	
	</delete>	
		
	
</mapper>