<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.community.mapper.QuestionSqlMapper">

	
	<!-- 유저 -->
	<select id="selectUserByUserId" resultType="com.ja.safari.dto.UserDto">
	select * from user_table where id=#{id}
	</select>
	
	
	<!--              궁금해요                   -->
	<!-- 궁금해요 게시물 댓글 -->
	<select id="getQuestionReplyById" resultType="com.ja.safari.dto.QuestionReplyDto">
	select * from question_reply_table where id=#{id}
	</select>
	
	<!-- 궁금해요 게시물 insert -->
	<insert id="registerQuestionBoard">
	insert into question_table values(
    question_table_seq.nextval,
    #{user_id},
    #{question_category_id},
    #{title},
    #{content},
    0,
    #{points},
    '진행중',
    sysdate
	)
	</insert>
	
	<!-- 궁금해요 게시물 상세보기 select -->
	<select id="getQuestionBoardByBoardId" resultType="com.ja.safari.dto.QuestionDto" >
	select * from question_table where id=#{id}
	</select>
	
	<!-- 궁금해요 게시물 전체 select -->
	<select id="selectAllQuestionBoards" resultType="com.ja.safari.dto.QuestionDto" >
	select qt2.* from(
    		select qt1.*, rownum rnum from(
	    		select qt.*
				from question_table qt 
				inner join user_table ut on qt.user_id = ut.id
				where 1=1
				<if test="question_searchType != null and question_searchWord != null">
					<choose>
						<when test="question_searchType == 'title'">
						and qt.title like '%' || #{question_searchWord} || '%'
						</when>
						<when test="question_searchType == 'content'">
						and qt.content like '%' || #{question_searchWord} || '%'
						</when>
						<when test="question_searchType == 'nickname'">
						and ut.nickname like '%' || #{question_searchWord} || '%'
						</when>
					</choose>
				</if>
				order by qt.id desc
    		
        	) qt1
     	)qt2
	</select>
	
	<!-- 궁금해요 게시물 update -->
	<update id="updateQuestionBoard">
	update question_table
	set question_category_id=#{question_category_id}, title= #{title} , content=#{content}  , points= #{points}
	where id=#{id}
	</update>
	<!-- 궁금해요 게시물 delete -->
	<delete id="deleteQuestionBoardByBoardId">
	delete from question_table where id=#{id}
	</delete>
	
	<!-- 궁금해요 게시물 조회수 증가 update  -->
	<update id="increaseQuestionReadCount">
	update question_table
	set views = views + 1
	where id = #{id}
	</update>
	
	<!-- 궁금해요 게시물 답변 insert -->
	<insert id="registerQuestionReply">
	insert into question_reply_table values(
    question_reply_table_seq.nextval,
    #{user_id},
    #{question_id},
    #{content},
    'N',
    sysdate
	)
	</insert>
	
	<!-- 궁금해요 게시물 답변 select -->
	<select id="selectAllQuestionReplyByBoardId" resultType="com.ja.safari.dto.QuestionReplyDto">
	select * from question_reply_table where question_id=#{id} order by id desc
	</select>
	
	<!-- 궁금해요 게시물 답변 delete -->
	<delete id="deleteQuestionReply">
  	delete from question_reply_table where id=#{id}
  	</delete>
	
	<!-- 궁금해요 게시물 좋아요 insert -->
	<insert id="insertQuestionLike">
	insert into question_like_table values(
    question_like_table_seq.nextval,
    #{user_id},
    #{question_id},
    sysdate
    )
    </insert>
	
	<!-- 궁금해요 좋아요 수 count -->
	<select id="getQuestionLikeCountByBoardId" resultType="int">
	select count(*) from question_like_table where question_id=#{question_id}	
	</select>
	
	<!-- 궁금해요 게시물 좋아요 입력/취소 -->
	<select id="checkQuestionLike" resultType="int">
	select count(*)
	from question_like_table
	where question_id=#{question_id} and user_id=#{user_id}
	</select>
	
	<delete id="removeQuestionLike">
	delete from question_like_table
	where question_id=#{question_id} and user_id=#{user_id}
	</delete>
	
	<!-- 궁금해요 게시물 답변 채택 insert -->
	<insert id="acceptQuestionReply">
	insert into question_reply_complete values(
	question_reply_complete_seq.nextval,
	#{question_reply_id},
	sysdate
	)
	</insert>
	
	<!-- 궁금해요 게시물 답변 채택 완료 update -->
	<update id="completeQuestionReply">
	update question_reply_table
    	set status ='Y'
    		 where id=#{id}
	</update>
	
	<!-- 궁금해요 게시물 채택 상태 변경 update -->
	<update id="completeQuestionBoard">
	update question_table
    	set status = '채택 완료'
     		 where id = #{id}
	</update>
	
	<!-- 궁금해요 게시물 이미지 등록 -->
	<insert id="insertQuestionBoardImage">
	  insert into question_img_table values(
	  	question_img_table_seq.nextval,
	    #{question_id},
	    #{question_img_link},
	    #{question_original_filename}
	  )
	</insert>
	
	<!-- 궁금해요 게시물 이미지 상세 조회 -->
	<select id="selectQuestionBoardImageByQuestionId" resultType="com.ja.safari.dto.QuestionImgDto">
	select * from question_img_table
	where question_id = #{questionId}
	
	
	</select>
	
	
	
	
	
</mapper>