<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.community.mapper.RecruitSqlMapper">


	<!-- UserDto 어쩌지?..? -->
	<select id="selectUserByUserId" resultType="com.ja.safari.dto.UserDto">
	select * from user_table where id=#{id}
	</select>
	

	
	
	<!-- 구인구직  -->
	
	
	<!-- 구인구직 게시판 PK 조회 -->
	<select id="createRecruitPk" resultType="int">
		SELECT recruit_table_seq.nextval FROM dual 		
	</select>
	
	<!-- 구인구직 게시판 insert -->
	<insert id="registerRecruitBoard">
		INSERT INTO recruit_table VALUES(
		    #{id},
			#{user_id},
			#{position_category_id},
			#{title},
			#{content},
			#{phone},
			#{email},
			#{salary},
			#{location},
			#{opening},
			#{gender},
			#{age_limit},
			0,
			'모집중',
			sysdate,
			sysdate
		)
	</insert>
	
	<!-- 구인구직 게시판 이미지 테이블 insert : image-->
	<insert id="insertRecruitBoardImage">
		insert into recruit_img_link_table values(
			recruit_img_link_table_seq.nextval,
			#{recruit_id},
			#{img_name},
			#{img_link}
		)
	</insert>
	
	<!-- 구인구직 게시물 삭제하기 -->
	<delete id="deleteRecruitBoard">
		delete from recruit_table where id=#{id}
	</delete>

	<!-- 구인구직 게시판 수정하기 -->
	<update id="updateRecruitBoard" >
		update recruit_table
		set content = #{content}
		where id = #{id}
	</update>
	
	<!-- 구인구직 게시물 조회수 올리기 -->
	<update id="increaseViewsRecruitBoard">
		update recruit_table 
		set views = views + 1 
		where id = #{id}
	</update>

	<!-- 구인구직 게시판 이미지 select -->	
	<select id="selectRecruitBoardImageByRecruitId" resultType="com.ja.safari.dto.RecruitImgLinkDto">
		select * from recruit_img_link_table
		where recruit_id = #{recruit_id}
	</select>
	
	<!-- 구인구직 좋아요 insert : like-->
	<insert id="insertRecruitLike">
		insert into recruit_like_table values(
		    RECRUIT_LIKE_TABLE_SEQ.nextval,
		    #{user_id},
		    #{recruit_id},
		    sysdate
		)
	</insert>
	
	<!-- 구인구직 유저ID로 좋아요 여부 체크 -->
	 <select id="checkRecruitLike" resultType="int">
		select count(*) 
		from recruit_like_table 
		where recruit_id=#{recruit_id} and user_id=#{user_id}
	</select>
	
	<!-- 구인구직 좋아요 delete -->	
	<delete id="deleteRecruitLike">
		delete from recruit_like_table
		where recruit_id = #{recruit_id}
		and user_id = #{user_id}
	</delete>
	
	<!-- 구인구직 좋아요 개수 count -->
	<select id="countLikeByRecruitBoardId" resultType="int">
		select count(*) from recruit_like_table
		where recruit_id = #{recruit_id}
	</select>

	<!-- 구인구직 게시판 전체 조회 -->
	<select id="selectAllRecruitBoards" resultType="com.ja.safari.dto.RecruitDto">
	select * 
	from recruit_table 
	order by id desc
	</select>

	<!-- 구인구직 게시판 상세보기 -->
	<select id="getRecruitBoardById" resultType="com.ja.safari.dto.RecruitDto">
		select * 
		from recruit_table 
		where id=#{id}
	</select>
	
	
</mapper>