<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.user.mapper.UserSqlMapper">

		<!-- 회원가입 -->
		<insert id="insert">
			INSERT INTO user_table VALUES(
			    user_table_seq.nextval,
			    #{email},
			    #{pw},
			    #{nickname},
			    #{phone},
			    #{gender},
			    #{birth},
			    #{profile_img_link},
			    SYSDATE
			)
		</insert>
		
		<!-- 로그인 -->
		<select id="selectByIdAndPw" resultType="com.ja.safari.dto.UserDto">
			SELECT * FROM user_table WHERE email = #{email} AND pw = #{pw}
		</select>
		
		
		<!-- 회원정보 수정 - 현재 비밀번호 확인 -->
		<select id="checkUserPw" resultType="com.ja.safari.dto.UserDto">
			SELECT pw FROM user_table WHERE id = #{id}
		</select>
		
		<!-- 회원정보 수정 -->
		<update id="modifyUserInfo">
			UPDATE user_table
				SET
					email = #{email},
					pw = #{pw},
					nickname = #{nickname},
					phone = #{phone},
					gender = #{gender},
					birth = #{birth},
					profile_image_link = #{profile_image_link}
				WHERE
					id = #{id}		
		</update>
		
		
		
		<!-- 회원가입 유효성 검사 -->
		
		<!-- 아이디 중복 체크  -->
		<select id="existsUserId" resultType="int">
			SELECT COUNT(*) FROM user_table WHERE email = #{email}
		</select>
		
		
		
		
		
		
		
		
		
		<!-- 회원가입 유효성 검사 -->
		
		
		<!-- 유저아이디로 유저 dto 가져오기  -->
		<select id="selectUserDtoById" resultType="com.ja.safari.dto.UserDto">
			SELECT * FROM user_table WHERE id = #{id}
		</select>
		

				
		<!-- 주소추가 -->
		<insert id="insertUserAddress">
			INSERT INTO user_address_table VALUES(
				user_address_table_seq.nextval,
				#{user_id},
				#{address},
				#{address_name},
				#{phone}
			)
		</insert>
		
		<!-- 주소가져오기 -->
 		<select id="selectAddressListAllById" resultType="com.ja.safari.dto.UserAddressDto">
			SELECT * FROM user_address_table WHERE user_id = #{id} ORDER BY id DESC
		</select>
		
		<!--  유저 당 등록된 주소 개수 -->
		<select id="getUserAddressCount" resultType="int">
			SELECT COUNT(*) FROM user_address_table WHERE user_id = #{userId}
		</select>
		
		<!-- 주소 수정 - pk로 데이터 가져오기 -->
		<select id="getAddressInfoByPk" resultType="com.ja.safari.dto.UserAddressDto">
			SELECT * FROM user_address_table WHERE id = #{id}
		</select>
		
		<!-- 주소 수정 -->
		<update id="modifyUserAddress">
			UPDATE
			  user_address_table 
			  SET 
			    address = #{address},
			    address_name = #{address_name},
			    phone = #{phone}
			 WHERE id = #{id}   
		</update>
		
		<!--  주소 삭제 -->
		<delete id="removeUserAddress">
			DELETE FROM user_address_table WHERE id = #{id}
		</delete>
		
		<!-- 렌탈리스트 가져오기 -->
 		<select id="selectRentalOrderedListById" resultType="com.ja.safari.dto.RentalOrderDto">
			select * from rental_order_table WHERE user_id = #{id}
		</select>
		

		<!-- 아래서부터 09 코드 -->
		<!-- 회원 pk로 회원 정보 조회 -->
		<select id="getUserInfoById" resultType="com.ja.safari.dto.UserDto">
			SELECT * FROM user_table WHERE id = #{id}
		</select>
		
		
		
		<!-- 회원 코인 충전 pk 받아오기 -->
		<select id="getOnChargeCoinPk" resultType="int">
			SELECT coin_table_seq.nextval FROM dual
		</select>
		
		<!-- 회원 코인 insert -->
		<insert id="insertUserCoin">
			INSERT INTO coin_table values(
			#{id},
			#{user_id},
			#{coin_transaction},
			'P',
			#{transaction_detail},
			SYSDATE
			)
		</insert>
		
		<!-- 코인 방금 충전한 내역 조회 -->
		<select id="getChargeCoinSuccessHistory" resultType="com.ja.safari.dto.UserCoinDto">
			SELECT * FROM coin_table WHERE id = #{id}
		</select>
		
		<!-- 회원의 현재 보유 코인 조회 -->
		<select id="getUserCoinBalance" resultType="int">
			SELECT NVL(SUM(CASE WHEN transaction_operand = 'P' 
			            THEN coin_transaction 
			            ELSE -coin_transaction END), 0) total_coin
				   FROM coin_table
				   WHERE user_id = #{userId}	
		</select>
		
		<!-- 회원의 코인 충전 내역 조회 -->
		<select id="getCoinChargeHistoryList" resultType="com.ja.safari.dto.UserCoinDto">
			SELECT * 
			    FROM coin_table 
			    WHERE user_id = #{userId}
			          AND transaction_operand = 'P'
			    ORDER BY reg_date DESC      
		</select>
		
		<!-- 회원의 코인 지출 내역 조회 -->
		<select id="getCoinUsageHistoryList" resultType="com.ja.safari.dto.UserCoinDto">
 			SELECT * 
			    FROM coin_table 
			    WHERE user_id = #{userId}
			          AND transaction_operand = 'M'
			    ORDER BY reg_date DESC   		
		</select>
		
		<!-- 회원의 코인 전체 사용 내역 조회 -->
		<select id="getUserCoinAllHistoryList" resultType="com.ja.safari.dto.UserCoinDto">
			SELECT * 
		      FROM coin_table
		      WHERE user_id = #{userId}
		      ORDER BY reg_date DESC
		</select>
		
		<!-- 회원의 코인 전체 사용 내역 횟수 -->
		<select id="getUserCoinAllHistoryCount" resultType="int">
			SELECT COUNT(*) 
		      FROM coin_table
		      WHERE user_id = #{userId}
		</select>
		
		
		<!-- 커뮤니티 리워드 내가 쓴 게시글 가져오기 -->
		<select id="selectProreviewByMyPost" resultType="com.ja.safari.dto.PromotionReviewDto">
		SELECT *
		FROM promotion_review
		WHERE user_id = #{user_id}
		</select>
		
		<!-- 커뮤니티 구인구직 내가 쓴 게시글 가져오기 -->
		<select id="selectRecruitByMyPost" resultType="com.ja.safari.dto.RecruitDto">
		SELECT *
		FROM recruit_table
		WHERE user_id = #{user_id}
		</select>
		
		<!-- 커뮤니티 해주세요 내가 쓴 게시글 가져오기 -->
		<select id="selectHelpByMyPost" resultType="com.ja.safari.dto.HelpDto">
		SELECT *
		FROM help_table
		WHERE user_id = #{user_id}
		</select>
		
		<!-- 커뮤니티 골라줘요 내가 쓴 게시글 가져오기 -->
		<select id="selectPickByMyPost" resultType="com.ja.safari.dto.PickDto">
		SELECT *
		FROM pick_table
		WHERE user_id = #{user_id}
		</select>
</mapper>