@charset "UTF-8";



.sortBox {
	width: 100%;
	height: 40px;
	border: 0.5px solid #edebe6;		
}

.auctionBox {
	width: 100%;
	height: 150px;
	border: 0.5px solid #edebe6;
}



.conbox {

	height: 600px;
	background: white;
	display: none;
	font-size: 16px;
}

a{
	text-decoration:none;
	color: black;
}

a:hover {
	color: #333;
}
/* body {
    font-family: 'SUIT Variable', sans-serif;
}
 */
.btn_auctionEnd{padding:3px 10px; background: #e9ecef; border:none; color: black; border-radius:8px; font-size: 13px; font-weight: meidum;  pointer-events: none; }
.btn_auctionReady{padding:3px 10px; background: #e6edfe; border:none; color: #789efd; border-radius:8px; font-size: 13px; font-weight: bold; pointer-events: none; }
.btn_auctionIng{padding:3px 10px; background: #dff5ea; border:none; color: #6db590; border-radius:8px; font-size: 13px; font-weight: bold; pointer-events: none; }



.chatBox {
	width: 200px;
	height: 380px;
	border: 0.3px solid #E2E3E5;
	font-size: 14px;
    display: flex;
    flex-direction: column-reverse;
}



.orangeButton{
	background: #ff6f0f;
	font-weight: bold;
	color: white;
}
.orangeButton:hover{
	background: #FF812C;
	font-weight: bold;
	color: white;
}





