
body{font-family: 'Noto Sans KR', sans-serif; color: #333;}

.ico_sns i{cursor: pointer;}

.search_box{background-image:url('../image/magnifying-glass-solid.svg'); background-size: 16px; background-position: 90% 50%;  background-repeat:no-repeat; padding-left:20px;}