<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ja.safari.cs.mapper.CsSqlMapper">

	<select id="getEmpDtoByUserNameAndPw" resultType="com.ja.safari.dto.CsEmpDto">
		SELECT * FROM cs_emp
		WHERE username = #{username}
		AND password = #{password}
	</select>
	
	
	
</mapper>